name: terraform apply (dev environment)
on:
  push:
    branches:
      - main
    paths:
      - "terraform/**"
  workflow_dispatch:
jobs:
  apply:
    environment: dev
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform/envs/dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: terraform init
        run: terraform init
      - name: terraform apply
        run: terraform apply -auto-approve