name: terraform plan (dev environment)
on:
  pull_request:
    paths:
      - "terraform/**"
  
jobs:
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform/envs/dev
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      - name: list files
        run: ls -la
      - name: terraform fmt
        run: terraform fmt -check -recursive
      - name: terraform init
        run: terraform init
      - name: terraform validate
        run: terraform validate
      - name: terraform plan
        run: terraform plan